@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* FONT FACE */
@font-face {
  font-family: "Livvic-Light";
  src: url("/assets/fonts/Livvic-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Livvic-ExtraLight";
  src: url("/assets/fonts/Livvic-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Livvic-Regular";
  src: url("/assets/fonts/Livvic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Livvic-Bold";
  src: url("/assets/fonts/Livvic-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Livvic-Medium";
  src: url("/assets/fonts/Livvic-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Livvic-SemiBold";
  src: url("/assets/fonts/Livvic-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Abril-Regular";
  src: url('/assets/fonts/AbrilFatface-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comforter-Regular";
  src: url('/assets/fonts/Comforter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* FONTS  */
.Livvic-Regular {
  font-family: Livvic-Regular;
}
.Livvic-Medium {
  font-family: Livvic-Medium;
}
.Livvic-Semibold {
  font-family: Livvic-SemiBold;
}
.Livvic-Bold {
  font-family: Livvic-Bold;
}
.Abril-Regular {
  font-family: Abril-Regular;
}
.Comforter-Regular {
  font-family: Comforter-Regular;
}

/* Fonts Colors */
.burgundy{
  color: #80011F;
}
.yellow{
  color: #FED700;
}
.blue{
  color: #4169E2;
}
.navyBlue{
  color: #002365;
}
.lightBlack{
  color: #1E1E1E;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
